# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv
*.env
*.venv

# Build / Packaging
build/
dist/
*.egg-info/

# Logs / Temp
*.log
*.out
*.tmp
*.swp

# PyTorch Lightning logs
lightning_logs/
scripts/lightning_logs/
scripts/raw
scripts/processed
scripts/tb_logs/

# Data
molnet_data/

# Datasets / Cache
.cache/
*.pt
*.pth
*.ckpt
*.h5
*.npz

# VSCode and other editors
.vscode/
.idea/

# Test cache
.pytest_cache/
coverage.xml
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Misc
*.sqlite
.mypy_cache/
.tox/
/processed/
/raw/
scripts/angle_scatter_0.png
*.png
*.json
*summary.csv
hparams.yaml
metrics.csv
*.gif
*.mp4